{% extends "Student/base.html" %}
{% block body %}
<section class="teachers">
 
    <div class="box-container">
 
       
 
       <div class="box">
          <div class="tutor">
             <div>
                <h3>TOTALL COURSE</h3>
                <span> <b>10</b></span>
             </div>
          </div>
       </div>
 
       <div class="box">
        <div class="tutor">
            <div>
               <h3>TOTALL TEACHER</h3>
               <span> <b>10</b></span>
            </div>
         </div>
       </div>
 
       <div class="box">
        <div class="tutor">
            <div>
               <h3>TOTALL ADVISER</h3>
               <span> <b>10</b></span>
            </div>
         </div>
       </div>
 
       <div class="box">
        <div class="tutor">
            <div>
               <h3>TOTALL BOOK</h3>
               <span> <b>10</b></span>
            </div>
         </div>
       </div>
 
       <div class="box">
        <div class="tutor">
            <div>
               <h3>YOUR COURSE</h3>
               <span> <b>10</b></span>
            </div>
         </div>
       </div>
       <div class="box">
         <div class="tutor">
             <div>
                <h3>YOUR COURSE</h3>
                <span> <b>10</b></span>
             </div>
          </div>
        </div>
    </div>
 
 </section>

{% endblock body %}